.App {
  text-align: center;
  margin: 0%;
}

hr {
  margin-top: -1rem;
}
#explore {
   text-decoration: none;
   font-size: xx-large;
   font-weight: bold;
   padding: 2rem 5rem 2rem 4rem;
   color: yellow;
}
.App nav {
  list-style: none;
    display: flex;
    justify-content: space-between;
    height: 10rem;
    width: 100%;
    background-color: #0d1b2a;
    position: fixed;
    border-bottom: 0.15rem solid;
    color: black;
}

 .App nav div{
  width: 44%;
  height: 145%;
  margin: 2rem;
 }

#logo {
  float: left;
  height: 38%;
  width: 50%;
}
