.App {
  text-align: center;
  margin: 0%;
}

hr {
  margin-top: -1rem;
}
#explore {
   text-decoration: none;
   font-size: xx-large;
   font-weight: bold;
   padding: 2rem 5rem 2rem 4rem;
   color: yellow;
}
.App nav {
  list-style: none;
    display: flex;
    justify-content: space-between;
    height: 9rem;
    width: 100%;
    background-color: black;
    position: fixed;
    border-bottom: 0.15rem solid;
    color: black;
}

 .App nav div{
  /* width: 44%;
  height: 145%;
  margin: 2rem; */

  width: 25%;
  height: 94%;
  margin: 4rem 2rem 0 2rem;
  font-size: 2rem;
 }

 .App #dark{
  color: #DF4500;
 }
 .App #light{
  color: #3C3735;
  font-weight: bold;
 }

#logo {
  float: left;
  height: 38%;
  width: 50%;
}
