.card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    box-shadow: 0px 6px 8px 7px rgb(0 0 0 / 29%);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    text-decoration: none;
    border-radius: 0.5rem;
  }
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .card h2 {
    font-size: 104%;
    height: 2rem;
  }

  #SingleVideo {
    width: 98%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
@media screen and (max-width:360px) {
  .card h2 {
    font-size: 75%;
    height: 1.5rem;
} 
}
@media only screen and (max-width:650px){
  .card h2 {
    font-size: 92%;
    height: 1.8rem;
} 
}