.Explore-flex-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 11rem;
    margin-left: 14rem;
}
.Explore-flex-container a{
    text-decoration: none;
    color: var(--white-off-);
    text-shadow: 0.1rem 0.1rem 0.1rem black;
}


.Explore-main-container {
    display: flex;
    background: dimgray;
}

@media screen and (max-width:360px) {
    .Explore-flex-container {
        margin-left: 8rem;
        margin-right: 1rem;
    } 
}
@media only screen and (max-width:650px){
    .Explore-flex-container {
        margin-left: 10rem;
        margin-right: 1rem;
    } 
}
