.Liked-flex-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 14rem;
    margin-left: 14rem;
}

.Liked-main-container {
    display: flex;
}
#like-heading {
    margin-top: 10rem;
    margin-left: 18rem;
    position: fixed;
}