.Liked-flex-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 14rem;
    margin-left: 18rem;
}

.Liked-main-container {
    display: flex;
}
#like-heading {
    margin-top: 10rem;
    margin-left: 18rem;
    position: fixed;
}

  @media only screen and (max-width:650px) {
    #like-heading {
        margin-top: 9rem;
        margin-left: 13rem;
        position: fixed;
        font-size: 1.5rem;
    }
    .Liked-flex-container {
        margin-top: 14rem;
        margin-left: 13rem;
        margin-right: 2rem;
    }
  }

  @media screen and (max-width:360px){
    #like-heading {
        margin-top: 9rem;
        margin-left: 8rem;
        font-size: 1.5rem;
    }
    .Liked-flex-container {
        margin-top: 14rem;
        margin-left: 10rem;
        margin-right: 1rem;
    }
  }