.Playlist-flex-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-left: 18rem;
}
.Playlist-flex-container a{
    text-decoration: none;
    color: orangered;
    
}

.Playlist-main-container {
    display: flex;
}
#Playlist-heading {
    margin-top: 10rem;
    margin-left: 18rem;
    position: inherit;
    text-shadow: 0rem 0.1rem 0.2rem orangered;
}
#Playlist-div {
    border: 4px solid orangered;
    width: 7rem;
    height: 7rem;
    background-color: grey;
    color: papayawhip;
    text-decoration: none;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
}
#Playlist-div-section {
    width: 4rem;
    height: 7rem;
    background-color: black;
    position: absolute;
    margin-top: -7.5rem;
    margin-left: 3rem;
    opacity: 0.8;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}

#Playlist-delete{
    background-color: white;
    height: 12%;
    width: 47%;
    border: 1px solid black;
    box-shadow: 0.1rem 0.2rem 0.4rem 0.1rem black;
    border-bottom-right-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
    margin-bottom: 1rem;
    font-weight: bold;
}


@media only screen and (max-width:650px) {
    #Playlist-heading {
        margin-top: 9rem;
        margin-left: 13rem;
        font-size: 1.5rem;
    }
    .Playlist-flex-container {
        margin-top: 2rem;
        margin-left: 13rem;
    }
  }
  @media only screen and (max-width:360px) {
    #Playlist-heading {
        margin-top: 9rem;
        margin-left: 8rem;
        font-size: 1.5rem;
    }
    .Playlist-flex-container {
        margin-top: 2rem;
        margin-left: 10rem;
    }
  }
